.site-header {
    height: 100vh;
    padding: 0 18px 0 0;
    background-image: url('../img/top-bg.jpg');
}

.logo {
    position: absolute;
    width: 125px;
    height: auto;
    top: 38px;
    left: 45px;
}

.header-tel {
    position: absolute;
    right: 85px;
    top: 35px;
    font-family: $secondFont;
    white-space: nowrap;
    font-size: rem(20);

    & .fas {
        color: #616161;
        font-size: rem(18);
        margin-right: 10px;
    }
}

.hamburger {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    background: none;
    outline: none;
    cursor: pointer;
    right: 11px;
    top: 28px;
    z-index: 10;

    &__box {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
    }

    &__line {
        position: absolute;
        top: 50%;
        margin-top: 1px;
        left: 5px;
        width: 34px;
        height: 1.5px;
        background: #fff;

        &::before {
            content: '';
            transform: translateY(-10px);
            position: absolute;
            top: 50%;
            left: 0;
            width: 34px;
            height: 1.5px;
            background: #fff;
            transition: all ease .2s;
        }

        &::after {
            @extend .hamburger__line::before;
            transform: translateY(9px);
        }

        &_active {
            height: 0px;

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }

        }
    }
}

// SOC RIGHT

.heder-social {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(#fff, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    &__icon {
        display: block;
        height: 38px;
        width: 38px;
        background: #5c5c5c;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        margin: 7px 10px;
        color: #353335;

        &:hover {
            background: rgba(#fff, .4);
        }
    }
}

// MMENU

.mm-navbar {
    border: none;
    top: 26px;

    &__title {
        & img {
            width: 125px;
            height: auto;
        }
    }
}
.mm-listitem_selected>.mm-listitem__text {
    background: none;
}

.mm-listitem {
    padding: 0;

    &:first-child {
        margin-top: 40px;
    }

    &:hover {
        color: $primaryColor;
    }

    &__text {
        padding: 10px 15%;
        font-size: 15px;
        line-height: 20px;

        &::before {
            content: '\f3a5';
            font-family: $avesome;
            color: #fff;
            margin: 0 10px;
            font-size: 12px;
        }
    }
}

// TITLE
.title-wrap {
    position: relative;
    top: 0;
    height: 100%;
    display: flex;
}

.title-center {
    margin: auto;
}

.headers-title {
    text-align: center;

    &__welcome {
        display: flex;
        align-items: center;
        margin: 0;

        & span {
            margin: 0 10px;
            font-size: 14px;
            font-weight: 300;
            white-space: nowrap;
        }

        &::before,
        &::after {
            content: '';
            height: 1px;
            background: #fff;
            width: 100%;
            position: relative;
            display: inline-block;
        }
    }

    & h1 {
        font-size: 70px;
        font-weight: 100;
        padding: 0 0 rem(20);
        margin: 0 0 rem(30);
        border-bottom: 1px solid #fff;
        white-space: nowrap;
        line-height: 1.1;
    }

    &__city {
        font-weight: 300;
        font-size: 18px;
        margin: 0 0 30px;

        &::before,
        &::after {
            content: '\f005';
            color: #555555;
            font-weight: bold;
            font-size: rem(12);
            margin: 0 8px;
            font-family: $avesome;
        }
    }

    &__button {
        background: $primaryColor;
        width: 180px;
        height: 55px;
        margin: rem(15);
        color: #fff;

        &:hover {
            background-color: #dbb872;
        }
    }
}

// BOTTOM LINE

.header-contacts {
    max-width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(#fff, .1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(#000, .2);
}

.contacts {
    font-weight: 300;
    font-size: 14px;
    margin: 14px 0;
    display: inline-block;
    white-space: nowrap;
    & .fas,
    .far {
        color: #555555;
        margin: 0 10px;
        font-size: 12px;
    }
}