html{
    background: #1a1a1a;
    font-family: $mainFont;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: $mainFontColor;
}
section ,header, footer{
    background-size: cover; 
    background-position:  center;
    position: relative;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    line-height: 1.4;
}
.button{
    display: inline-block;
    border: 0;
    text-transform: uppercase;
    padding: 17px 26px 15px;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
    width: 225px;
    height: 55px;
    background: #fff;
    border-bottom: 3px solid rgba(#1a1a1a, .2);
}
.firasans{
    font-family: $secondFont;
}