@import 'utils/libs.scss';
@import 'utils/utility.scss';
@import 'utils/fonts.scss';
@import 'modules/header';
@import 'modules/services';


html{
    background: #1a1a1a;
    font-family: $mainFont;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: $mainFontColor;
}
section ,header, footer{
    background-size: cover; 
    background-position:  center;
    position: relative;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    line-height: 1.4;
}
.button{
    display: inline-block;
    border: 0;
    border-bottom: 2px solid;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid rgba(#000, .6);
}