@import 'utils/libs.scss';
@import 'utils/utility.scss';
@import 'utils/fonts.scss';
@import 'modules/header';
@import 'modules/services';


html{
    background: #1a1a1a;
    font-family: $mainFont;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: $mainFontColor;
}
section ,header, footer{
    background-size: cover; 
    background-position:  center;
    position: relative;
}
a{
    text-decoration: none;
    color: #ffffff4d;
    font-family: inherit;
    
}
#my-page{
    max-width: 100%;
}